<app-item-tooltip #itemtooltip></app-item-tooltip>

<div class="difficulty-holder">
    <div class="difficulty" *ngFor="let count of [1,2,3,4,5]" [class.is-active]="isActiveDifficulty(count)"
    (click)="clickDifficulty(count)">
        {{getStars(count)}}
    </div>
</div>

<div id="encounter-holder">
    <div class="encounter"  *ngFor="let encounter of encounterList | keyvalue">
        <div class="animation-holder-wrapper">
            <div class="animation-holder"
                (click)="clickEncounter(encounter.key)">
                <app-animated-sprite *ngFor="let enemy of encounter.value.enemies; let i = index" [AnimationDetails]="enemy.animation"
                    [ngStyle]="getSpriteStyle(i)" [isDead]="false"></app-animated-sprite>
            </div>
        </div>
        <div class="details">
            <h3>{{encounter.value.name}}</h3>
            <div class="gold-value">{{encounter.value.baseGold}} GP.</div>
            <div class="item-rates">
                <div class="item-rate" *ngFor="let itemTuple of getItemRates(encounter.value)"
                (mouseover)="mouseoverItem($event, itemTuple[0])" (mouseout)="mouseoutItem()">
                    <img class="item-icon" src="assets/{{itemTuple[0].icon}}">
                    <span class="item-percentage">{{itemTuple[1] * 100}}%</span>
                </div>
            </div>
        </div>
    </div>
</div>