<div class="view-selectors">
    <div class="view-selector" (click)="setView('stats')">
        <div class="character-image" [ngStyle]="getPortraitStyle()"></div>
        <span>Stats</span>
    </div>
    <div class="view-selector" (click)="setView('skill')">
        <img src="assets/riposte.png">
        <span>Skills</span>
    </div>
    <div class="view-selector" (click)="setView('equipment')">
        <img src="assets/plastron.png">
        <span>Equip</span>
    </div>
    <div class="view-selector" (click)="setView('feature')">
        <img src="assets/read.png">
        <span>Learn</span>
    </div>
</div>

<div id="views">
    <app-stats-list *ngIf="activeView == 'stats'"></app-stats-list>
    <app-skill-list *ngIf="activeView == 'skill'"></app-skill-list>
    <app-equipment *ngIf="activeView == 'equipment'"></app-equipment>
    <app-feature-list *ngIf="activeView == 'feature'"></app-feature-list>
</div>