<div #tooltipbox class="tooltip" [ngStyle]="{'top.px': topOffset, 'left.px': leftOffset, 'opacity': opacity}">
    <div class="header" *ngIf="hoveredSkill != undefined">
        <div class="icon">
            <img src="assets/{{hoveredSkill!.icon}}"/>
        </div> 
        <div class="title">
            <span class="name">{{hoveredSkill!.name}}</span><br>
            <span class="type">{{hoveredSkill!.name}}</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="description" *ngIf="hoveredSkill != undefined">{{hoveredSkill.description()}}</div>
    <div class="flavour" *ngIf="hoveredSkill != undefined">"{{hoveredSkill.flavour}}"</div>
</div>