@small-font-size: 13px;
@large-font-size: 18px;
@top-bar-height: 40px;

@icon-width: 16px;
@icon-padding: 5px;
@icon-margins: 1px;
@slot-width: @icon-width + @icon-padding * 2 + @icon-margins * 2;

@icon-width-big: 32px;
@icon-padding-big: 4px;
@icon-margins-big: 2px;
@slot-width-big: @icon-width-big + @icon-padding-big * 2 + @icon-margins-big * 2;

#main-body {
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
}

#top-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: @top-bar-height;
    z-index: 2;
}

#side-bar {
    position: absolute;
    left: 0;
    top: @top-bar-height;
    width: calc(10% + 250px);
    height: calc(100% - @top-bar-height);
}

#center-bar {
    position: absolute;
    right: 0;
    top: @top-bar-height;
    width: calc(90% - 250px);
    height: calc(100% - @top-bar-height);
}

.float-animation {
    animation: float .7s infinite ease-in-out;
    transform-origin: 50% 100%;
}

.tooltip {
    position: absolute;
    z-index: 20;
}