@small-font-size: 13px;
@large-font-size: 18px;

#main-body{
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    overflow: hidden;
}

.float-animation{
    animation: float .7s infinite ease-in-out;
    transform-origin:50% 100%;
}

.tooltip{
    position: absolute;
    z-index: 20;
}