<app-unit-tooltip class="tooltip" [isMain]="true"></app-unit-tooltip>
<app-skill-tooltip class="tooltip" [isMain]="true"></app-skill-tooltip>
<app-text-tooltip class="tooltip" [isMain]="true"></app-text-tooltip>
<app-item-tooltip class="tooltip" [isMain]="true"></app-item-tooltip>
<div id="main-body">
  <app-topbar id="top-bar"></app-topbar>
  <app-sidebar id="side-bar"></app-sidebar>
  <div id="center-bar">
    <app-battlefield></app-battlefield>
    <app-timeline-builder style="position: relative; z-index: 2"></app-timeline-builder>
  </div>
</div>
<router-outlet></router-outlet>