<div #tooltipbox class="tooltip" [ngStyle]="{'top.px': topOffset, 'left.px': leftOffset, 'opacity': opacity}">
    <div class="header" *ngIf="hoveredUnit != undefined">
        <div class="title">
            <span class="name">{{hoveredUnit.information.name}}</span>
        </div>
    </div>
    <div class="divider" *ngIf="getDPR() > 0"></div>
    <div class="dpr" *ngIf="getDPR() > 0">
        <b>DPS</b>: {{getDPR()}}
    </div>
    <div class="status-info" *ngIf="hoveredUnit != undefined">
        <div class="status-type" *ngFor="let type of [StatusType.buff, StatusType.debuff, StatusType.neutral]"
            [class.buff]="type == StatusType.buff" [class.debuff]="type == StatusType.debuff"
            [class.neutral]="type == StatusType.neutral">
            <div class="divider" *ngIf="hoveredUnit.getStatusesByType(type).length > 0"></div>
            <div class="status" *ngFor="let status of hoveredUnit.getStatusesByType(type);">
                <div class="status-title">
                    <img class="status-icon" src="assets/{{status.statusInformation.icon}}" />
                    <span class="status-name">{{status.statusInformation.name}}</span>
                    <span class="status-degree" *ngIf="status.degree != undefined">({{status.degree}})</span>
                    <div class="status-duration" *ngIf="status.duration != undefined">
                        <span>{{status.duration}}</span><img src="assets/stopwatch.png">
                    </div>
                </div>
                <div class="status-description" [innerHTML]="status.statusInformation.description(status)"
                    *ngIf="pressedKeys['Shift']"></div>
            </div>
        </div>
    </div>
</div>