<div class="battlefield">
    <div class="hp-container character">
        <div *ngFor="let characterInstance of getCharacterInstances(); let i = index" class="name-bar">
            <div class="title-bar">
                <div class="title-name">
                    {{characterInstance.characterInformation.characterName}}
                </div>
                <div class="experience-bar">
                    <div class="experience-bar-amount">{{characterInstance.getXP()}}</div>
                    <div class="experience-bar-name">XP.</div>
                </div>
            </div>
            <div class="value-bar-container">
                <div class="value-segment hp">
                    <div class="value-text">
                        <div class="value-name">HP</div>
                        <div class="value-amount">{{characterInstance.hp}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': characterInstance.hp / characterInstance.getMaxHP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
                <div class="value-segment fp">
                    <div class="value-text">
                        <div class="value-name">FP</div>
                        <div class="value-amount">{{characterInstance.fp}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': characterInstance.fp / characterInstance.getMaxFP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sprite-container character">
        <app-animated-sprite *ngFor="let characterInstance of getCharacterInstances(); let i = index"
            [AnimationDetails]="characterInstance.getAnimationDetails()" [isDead]="!characterInstance.isAlive()"
            [AnimationSubject]="characterInstance.animationChange" [ngStyle]="getSpriteStyle(true, i)"
            (click)="characterInstance.hp = characterInstance.hp - 1"></app-animated-sprite>
    </div>
    <div class="sprite-container enemy">
        <app-animated-sprite *ngFor="let enemyInstance of getEnemyInstances(); let i = index" [isDead]="!enemyInstance.isAlive()"
            [AnimationDetails]="enemyInstance.getAnimationDetails()" [AnimationSubject]="enemyInstance.animationChange"
            [ngStyle]="getSpriteStyle(false, i)" (click)="enemyInstance.animationChange.next('Attack')">
        </app-animated-sprite>
    </div>
    <div class="hp-container enemy">
        <div *ngFor="let enemyInstance of getEnemyInstances(); let i = index" class="name-bar">
            <div class="title-bar">
                <div class="title-name">
                    {{enemyInstance.enemyInformation.enemyName}}
                </div>
            </div>
            <div class="value-bar-container">
                <div class="value-segment hp">
                    <div class="value-text">
                        <div class="value-name">HP</div>
                        <div class="value-amount">{{enemyInstance.hp}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': enemyInstance.hp / enemyInstance.getMaxHP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
                <div class="value-segment fp">
                    <div class="value-text">
                        <div class="value-name">FP</div>
                        <div class="value-amount">0</div>
                    </div>
                    <div class="value-bar">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>