<div class="battlefield">
    <div class="hp-container character">
        <div *ngFor="let characterInstance of getCharacterInstances(); let i = index" class="name-bar"
            (mouseover)="mouseoverUnit($event, characterInstance)" (mouseout)="mouseoutUnit($event, characterInstance)">
            <div class="title-bar">
                <div class="title-name">
                    {{characterInstance.characterInformation.name}}
                </div>
                <div class="experience-bar">
                    <div class="experience-bar-amount">{{beautify(characterInstance.getXP())}}</div>
                    <div class="experience-bar-name">XP.</div>
                </div>
            </div>
            <div class="value-bar-container">
                <div class="value-segment hp">
                    <div class="value-text">
                        <div class="value-name">HP</div>
                        <div class="value-amount">{{beautify(characterInstance.getHP())}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': characterInstance.hp / characterInstance.getMaxHP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
                <div class="value-segment fp">
                    <div class="value-text">
                        <div class="value-name">FP</div>
                        <div class="value-amount">{{beautify(characterInstance.getFP())}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': characterInstance.fp / characterInstance.getMaxFP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sprite-container character">
        <app-animated-sprite *ngFor="let characterInstance of getCharacterInstances(); let i = index"
            [AnimationDetails]="characterInstance.getAnimationDetails()" [isDead]="!characterInstance.isAlive()"
            [AnimationSubject]="characterInstance.animationChange" [TickSubject]="characterInstance.tickChange"
            [ngStyle]="getSpriteStyle(true, i)" (mouseover)="mouseoverUnit($event, characterInstance)"
            (mouseout)="mouseoutUnit($event, characterInstance)" (click)="characterInstance.receiveDamage(1)">
        </app-animated-sprite>
    </div>
    <div class="sprite-container enemy">
        <app-animated-sprite *ngFor="let enemyInstance of getEnemyInstances(); let i = index" [flipSprite]="true"
            [isDead]="!enemyInstance.isAlive()" [AnimationDetails]="enemyInstance.getAnimationDetails()"
            [AnimationSubject]="enemyInstance.animationChange" [TickSubject]="enemyInstance.tickChange"
            [ngStyle]="getSpriteStyle(false, i)" (mouseover)="mouseoverUnit($event, enemyInstance)"
            (mouseout)="mouseoutUnit($event, enemyInstance)" (click)="enemyInstance.animationChange.next('Attack')">
        </app-animated-sprite>
    </div>
    <div class="hp-container enemy">
        <div *ngFor="let enemyInstance of getEnemyInstances(); let i = index" class="name-bar"
            (mouseover)="mouseoverUnit($event, enemyInstance)" (mouseout)="mouseoutUnit($event, enemyInstance)">
            <div class="title-bar">
                <div class="title-name">
                    {{enemyInstance.enemyInformation.name}}
                </div>
            </div>
            <div class="value-bar-container">
                <div class="value-segment hp">
                    <div class="value-text">
                        <div class="value-name">HP</div>
                        <div class="value-amount">{{enemyInstance.getHP()}}</div>
                    </div>
                    <div class="value-bar"
                        [ngStyle]="{'background-size': enemyInstance.hp / enemyInstance.getMaxHP() * 100 + '% 100%'}">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
                <div class="value-segment fp">
                    <div class="value-text">
                        <div class="value-name">FP</div>
                        <div class="value-amount">0</div>
                    </div>
                    <div class="value-bar">
                        <div class="value-bar-interior"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>