<div class="header timeline-header" (window:keydown.escape)="isRenaming = false">
    <img src="assets/headerframe-left.png" class="left" />
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="divided-button time-progress">
            <button (click)="processTime(); buttonClick()">{{getTimeDisplay()}}</button>
        </div>
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="divided-button">
            <button (click)="toggleAutomaticProgress(); buttonClick()" *ngIf="getAutomaticProgress()">◼</button>
            <button (click)="toggleAutomaticProgress(); buttonClick()" *ngIf="!getAutomaticProgress()">▶</button>
        </div>
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="header-grow crusty-bg">
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="divided-button">
            <button (click)="isRenaming = !isRenaming; buttonClick()">✎</button>
        </div>
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="displaced-input" style="z-index: 2" *ngIf="isRenaming">
            <input type="text" placeholder="Type here..." (keydown)="trackNoise()" FocusAndSelect
                [value]="getGridName()" (keydown.enter)="renameGrid($event); isRenaming = false; buttonClick()">
        </div>
        <mat-select (selectionChange)="changeGrid($event.value);" [ngModel]="getGridName()" (click)="buttonClick()"
            class="name-select select-arrow-white " [disabled]="getGridNames().length <= 1">
            <mat-option *ngFor="let name of getGridNames(true)" [value]="name" (click)="buttonClick()">{{name}}
            </mat-option>
        </mat-select>
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="divided-button">
            <button (click)="newGrid(); buttonClick()">✚</button>
        </div>
    </div>
    <img src="assets/headerframe-divider.png" />
    <div class="crusty-bg">
        <div class="divided-button">
            <button (click)="deleteGrid(); buttonClick()">✗</button>
        </div>
    </div>
    <img src="assets/headerframe-right.png" class="right" />

</div>
<div class="scroll-container">
    <div class="timeline-scroll" appHorizontalScroll>
        <table class="timeline" [class.dragging]="initialDragIndex != undefined" [class.big-icons]="getBigIconsOn()"
            [class.placing]="selectedSkill != undefined" (window:keydown.delete)="deleteSelection()"
            (window:keydown.shift.d)="duplicateSelection()" (window:keydown.a)="selectAll()"
            (window:keydown.arrowup)="moveSelection({x: 0, y: -1})"
            (window:keydown.arrowdown)="moveSelection({x: 0, y: 1})"
            (window:keydown.arrowleft)="moveSelection({x: -1, y: 0})"
            (window:keydown.arrowright)="moveSelection({x: 1, y: 0})">
            <tr *ngFor="let row of this.getSkillGrid(); index as rowIndex">
                <td class="slot" type="button" *ngFor="let skill of row; index as slotIndex"
                    (click)="clickSlot(slotIndex, rowIndex, $event)" draggable="true"
                    (dragstart)="onDragStart(slotIndex, rowIndex, $event)" [ngStyle]="getSlotStyle(slotIndex, rowIndex)"
                    (dragover)="onDragOver(slotIndex, rowIndex, $event)" (dragend)="onDragEnd($event)"
                    [class.time]="getCurrentTime() == slotIndex" [class.selected]="selectedSlots[rowIndex][slotIndex]">
                    <div class="select-beam"></div>
                    <div [ngStyle]="getIconStyle(slotIndex, rowIndex)" *ngIf="skill != undefined" class="icon"
                        (mouseover)="mouseoverSlot($event, skill.skillInfo)"
                        (mouseout)="mouseoutSlot($event, skill.skillInfo)">
                        <img src="assets/{{skill.skillInfo.icon}}" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="scroll-border"></div>
</div>