<div id="bar">
    <div class="bar-section" id="left-section">
        <div class="value-display">
            <img src="assets/metal-disc.png"/>
            <span>300.000k</span>
        </div>
    </div>
    <div class="bar-section" id="middle-section">
        <div id="title">DAMAGE•PER•SECOND</div>
    </div>
    <div class="bar-section" id="right-section">
        <div id="settings" class="dialog-button" (click)="openSettings()">
            <img src="assets/cog.png"/>
        </div>
    </div>
</div>