@import (reference) "../../app.component.less";

.sprite {
    width: 128px;
    height: 128px;
    image-rendering: pixelated;
    position: absolute;
    transition: .15s opacity, .1s filter;

    .dead & {
        filter: saturate(0);
        opacity: .3;
    }
}

:host:hover .sprite:not(.sprite-shadow) {
    &:not(.dead) {
        filter: drop-shadow(0 1px 1px cyan) drop-shadow(0 -1px 1px cyan) drop-shadow(1px 0 1px cyan) drop-shadow(-1px 0 1px cyan) drop-shadow(0px 0 1px white);
    }

    &.dead {
        filter: drop-shadow(0 1px 1px white) drop-shadow(0 -1px 1px white) drop-shadow(1px 0 1px white) drop-shadow(-1px 0 1px white) drop-shadow(0px 0 1px white) saturate(0);
    }
}

.sprite-shadow {
    opacity: .7;
}

.clickable {
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);

    width: 30px;
    height: 60px;

    pointer-events: all;
    cursor: help;
}

.flip {
    transform: scaleX(-1);
}

.ticks {
    position: absolute;
    left: 50%;
    top: calc(50% + 18px);
    transform: translate(-50%, -50%);
}

.tick {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    filter: drop-shadow(0 0 2px black) drop-shadow(0 0 2px black) drop-shadow(0 0 2px black);
    transform: translate(-50%, -50%);

    &.negative {
        color: #ed6d6d;
    }

    &.positive {
        color: #48db70;
    }
}

:host {
    width: 128px;
    pointer-events: none;
    width: 128px;
    height: 128px;
}